<load target="default.layout.css" />
<load target="default.layout.ie78.css" targetie="lt IE 9" />
<load target="default.layout.ie7.css" targetie="IE 7" />
<load target="default.layout.webfont.css" cond="$layout_info->WEB_FONT == 'YES'" />
<load target="../../common/js/respond.min.js" targetie="lt IE 9" />
<load target="default.layout.js" type="body" />
<div class="gnb_extended"> </div>
<div class="container">
	<header class="header">
		<!-- GNB -->
		<nav class="gnb" id="gnb">
			<h1>
				<a href="{geturl('')}" id="siteTitle">
					<img src="siteTitle.png" alt="XpressEngine" cond="!Context::getSiteTitle() && !$layout_info->LOGO_IMG && !$layout_info->LOGO_TEXT">
					<block cond="Context::getSiteTitle() && !$layout_info->LOGO_IMG && !$layout_info->LOGO_TEXT">{Context::getSiteTitle()}</block>
					<img src="{$layout_info->LOGO_IMG}" alt="{$layout_info->LOGO_TEXT}" cond="$layout_info->LOGO_IMG">
					<block cond="!$layout_info->LOGO_IMG && $layout_info->LOGO_TEXT">{$layout_info->LOGO_TEXT}</block>
				</a>
			</h1>
			<ul>
				<li loop="$GNB->list=>$key1,$val1" cond="$val1['url']!='home'" class="active"|cond="$val1['selected']">
					<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
				</li>
			</ul>
			<div class="side">
				<!--@if($logged_info->is_admin=='Y')-->
				<a href="/?module=admin" style="text-decoration: none; font-size: 18px; line-height:42px; color: white;">Admin Page</a>
				<!--@end-->
				<!-- ACCOUNT -->
				<img widget="login_info" skin="doria_application" />
				<!-- /ACCOUNT -->
			</div>
		</nav>
		<!-- /GNB -->
	</header>
	<div class="gnb_dummy"> </div>
	<div class="body main"|cond="$layout_info->LAYOUT_TYPE=='MAIN_PAGE'" class="body sub"|cond="$layout_info->LAYOUT_TYPE=='SUB_PAGE'">
		<!-- LNB -->
		<nav class="lnb" cond="$layout_info->LAYOUT_TYPE !== 'MAIN_PAGE'">
			<ul loop="$GNB->list=>$key1,$val1" cond="$val1['selected'] && $val1['list']">
				<li loop="$val1['list']=>$key2,$val2" cond="$val2['selected']" class="active"|cond="$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
					<ul cond="$val2['list']">
						<div id="menu_change" cond="$val2['menu_name_key']=='대학'">
						  <div id="to_univ" class="btn_menu_change">대학</div>
						  <div id="to_college" class="btn_menu_change">단과대</div>
						  <div class="clear_both">
						  </div>
						</div>
						<li loop="$val2['list']=>$key3,$val3" class="active"|cond="$val3['selected']" type="college_menu"|cond="substr($val3['link'],0,1)=='*'" ><a href="{$val3['href']}" target="_blank"|cond="$val3['open_window']=='Y'"><!--@if(substr($val3['link'],0,1)=='*')-->{substr($val3['link'],1)}<!--@else-->{$val3['link']}<!--@end--></a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- /LNB -->
		<!-- CONTENT -->
		<div class="content" id="content">
			{$content}
		</div>
		<!-- /CONTENT -->
	</div>
</div>
<footer class="footer">
	<p cond="!$layout_info->FOOTER">Powered by <a href="http://xpressengine.com/">XE</a>.</p>
	<p cond="$layout_info->FOOTER">{$layout_info->FOOTER}</p>
</footer>
